!!! 5
%html
  %head
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/reset.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/resume.css' }
    %title jeffbeck.org
  %body
    = yield
