%h1 Jeffery N. Beck
%hr
%h2 UNIX Systems Administrator
%h2 Ruby Web Developer
%hr
%ul
  %li Solaris
  %li Ruby
  %li Red Hat
  %li Postgresql
  %li Juniper Netscreen and SSL VPN
  %li DNS, DHCP, LDAP
%hr
