%h1 Jeffery N. Beck
%ul
  %li
    %strong http://jeffbeck.org
  %li
    %strong
      :javascript
        var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
        "=43){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
        ".substr(0,ol);}f(\")65,\\\"k771\\\\udnu+ft*)&j/+ -X~V_^XW^QS_n\\\\120\\\\n3" +
        "20\\\\l220\\\\KAXB^t\\\\M2000\\\\300\\\\010\\\\D500\\\\100\\\\600\\\\310\\\\"+
        "200\\\\$010\\\\100\\\\400\\\\200\\\\18;91`6,;?49q610\\\\l6*<%l*vk`)* 0*06nK" +
        "PXQNYV\\\\\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=" +
        "+o;721=%y;i=+y)65==i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f" +
        " noitcnuf\")"                                                                ;
        while(x=eval(x));

%hr
%ul
  %li
    %strong Linux/Unix Systems Administrator
  %li
    %strong Ruby/Postgresql Web Developer
%hr
%ul
  %li
    %em Systems
    %ul
      %li Red Hat
      %li Solaris
      %li Juniper Firewall &amp; VPN
  %li
    %em Languages
    %ul
      %li Ruby
      %li Javascript
      %li PHP
  %li
    %em Applications
    %ul
      %li Postgresql
      %li Sun Java Messaging System
      %li Apache HTTPD, Bind DNS &amp; DHCP, Proftpd, OpenLDAP
%hr
%strong Experience
%ul
  %li
    %strong Senior Linux/Unix Systems Administrator
    %br
    %em Mount Sinai Medical Center
    %br
    %em July 2000 - Present
    %ul
      %li Created, managed, and updated internal web applications.
      %ul
        %li An account management application enabling the help desk and other ID administators to create/edit/delete accounts on multiple Active Directory or other LDAP directories. This application used Ruby on Rails, Javascript, Memcached, and Postgresql.
        %li A ticket tracking system integrated into the account management application.
        %li A cabling installation request &amp; repair management and tracking.
      These applications are used by a wide variety of internal groups, including not IT groups. Column-level database auditing and multiple levels of user access were integrated into all applications.
      %li Support over 100 Linux or Solaris machines running various applications such as Weblogic, Bind DNS/DHCP, Apache, Postgresql, Oracle.
      %li Support Juniper SSL VPN and Netscreen Firewalls.
      %li Manage mail gateway and various internal mail servers.
      %li Manage internal and external DNS.
  %li
    %strong AIX Systems Administrator
    %br
    %em Southern Westchester Boces
    %br
    %em April 1999 - June 2000
    %ul
      %li Managed 9 IBM AIX RS6000s, supporting 50 financial and student databases for various school districts and city offices.
      %li Provided technical support for thousands of printers and users accross multiple network topologies.
  %li
    %strong Network Specialist
    %br
    %em Southern Westchester Boces
    %br
    %em April 1998 - April 1999
    %ul
      %li Planned and installed various 100 to 1000 node Windows NT based networks for schools and city offices.
%hr
%strong Education
%ul
  %li
    %strong City University of New York at Hunter College
    %br
    %em Computer Science
